<main
  class="chats"
  id={{ id }}
>
  {{{ search }}}
  {{{ list }}}
  {{{ content }}}
  {{{ newMessage }}}

  {{!-- {{> Search search
    className="chats__search"
  }}

  {{> List list
    className="chats__list"
    chat="chat"
  }}

  {{> Content content
    className="chats__content"
    content="content"
  }}

  {{> NewMessage newMessage
    className="chats__new-message"
  }} --}}
</main>
