<button
  class="button{{#if className}} {{ className }}{{/if}}{{#if cancel}} button_cancel{{/if}}"
  type={{ type }}
  data-button="{{#if dataButton}}{{ dataButton }}{{/if}}"
  {{#if disabled}}disabled{{/if}}
>
  {{#if text}}
    {{ text }}
  {{/if}}

  {{{ buttonChild }}}
</button>
