<li
  class="message{{#if className}} {{ className }}{{/if}}"
>
  <h3 class="message__name">
    {{ name }}
  </h3>
  
  {{#if text}}
    <p class="message__text">
      {{ text }}
    </p>
  {{/if}}

  {{#if imageSrc}}
    <img
      class="message__image"
      src={{ imageSrc }}
    />
  {{/if}}

  <div
    class="message__info{{#if check}} message__info_active{{/if}}"
  >
    <div class="message__check">
      <svg class="message__icon">
        <use xlink:href="#icon-checkmark"></use>
      </svg>
    </div>

    <div class="message__time">
      {{ time }}
    </div>
  </div>
</li>
