<li
  class="message{{#if className}} {{ className }}{{/if}}{{#if check}} message_our{{else}} message_their{{/if}}"
>
  <h3 class="message__name">
    {{ name }}
  </h3>

  {{#each this.content}}
    {{#if this.isText}}
      <p class="message__text">
        {{ this.data }}
      </p>
    {{/if}}

    {{#if this.isImage}}
      <img
        class="message__image"
        src={{ this.data }}
      />
    {{/if}}
  {{/each}}

  {{#if check}}
    <div class="message__info{{#if check}} message__info_active{{/if}}">
      <div class="message__check">
        <svg class="message__icon">
          <use xlink:href="#icon-checkmark"></use>
        </svg>
      </div>

      <div class="message__time">
        {{ time }}
      </div>
    </div>
  {{else}}
    <div class="message__info{{#if check}} message__info_active{{/if}}">
      <div class="message__time">
        {{ time }}
      </div>
    </div>
  {{/if}}
</li>
