<li
  class="chat{{#if className}} {{ className }}{{/if}}{{#if active}} chat_active{{/if}}"
  id="chat{{ this.id }}"
>
  {{{ avatarChild }}}

  <div class="chat__content">
    <div class="chat__info">
      <h2 class="chat__name">
        {{ this.title }}
      </h2>

      {{{ dateChild }}}
    </div>

    <div class="chat__message">
      <p
        class="chat__text"
      >
        {{#if this.sender}}<span class="chat__text_i-sender">Вы: </span>{{/if}}{{ text }}
      </p>

      {{#if this.count}}
        {{{ countChild }}}
      {{/if}}
    </div>
  </div>

  {{{ buttonChild }}}
</li>
