<li
  id="chat_{{ this.id }}"
  class="chat{{#if className}} {{ className }}{{/if}}{{#if active}} chat_active{{/if}}"
>
  {{{ avatarChild }}}

  <div class="chat__content">
    <div class="chat__info">
      <h2 class="chat__name">
        {{ this.title }}
      </h2>

      {{{ dateChild }}}
    </div>

    <div class="chat__message">
      <p
        class="chat__text"
      >
        {{#if lastMessageContent}}
          {{#if this.createdBy}}<span class="chat__text_i-sender">Вы: </span>{{/if}}{{ lastMessageContent }}
        {{/if}}
      </p>

      {{#if this.unreadCount}}
        {{{ countChild }}}
      {{/if}}
    </div>
  </div>

  {{{ buttonChild }}}
</li>
