<main id={{ id }} class="profile">
  {{{ avatarChild }}}
  {{{ headerChild }}}
  {{{ formChild }}}
  {{{ changeDataButtonChild }}}
  {{{ changePasswordButtonChild }}}
  {{{ linkChild }}}
  {{{ navLinkChild }}}
  {{{ changeAvatarModal }}}
</main>
