<main id={{ id }} class="profile">
  <div class="profile__wrapper">
    {{{ avatarChild }}}
    {{{ headerChild }}}
    {{{ formChild }}}

    {{#if navButtons}}
      {{#each navButtons}}
        {{{ this }}}
      {{/each}}
    {{/if}}

    {{{ linkChild }}}
    {{{ navLinkChild }}}
    {{{ changeAvatarModal }}}
  </div>
</main>
