<section
  class="content{{#if className}} {{ className }}{{/if}}"
>
  <div class="content__chat">
    <div class="content__info">
      {{{ avatar }}}
      {{{ title }}}
    </div>

    {{{ button }}}
  </div>

  <ul class="content__list">
    {{#each dates}}
      {{{ this }}}
    {{/each}}
  </ul>

  {{{ noMessagesText }}}
  {{{ noChatText }}}

  {{!-- {{{ attachMenu }}}
  {{{ userMenu }}} --}}

  <svg class="spritesheet">
    <symbol id="icon-triple" viewBox="0 0 20 20">
      <title>triple</title>
      <path d="M10 12a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0-6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 12a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/>
    </symbol>

    <symbol id="icon-checkmark" viewBox="0 0 512 512">
      <title>checkmark</title>
      <polyline points="464 128 240 384 144 288"
        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
      <line x1="144" y1="384" x2="48" y2="288"
        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
      <line x1="368" y1="128" x2="232" y2="284"
        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
    </symbol>

    <symbol id="icon-file" viewBox="0 0 12 12">
      <title>file</title>
      <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3.5 5.5h5m-5 2h5m-5 2h5m2-6.29V11c0 .28-.22.5-.5.5H2c-.28 0-.5-.22-.5-.5V1c0-.28.22-.5.5-.5h5.79c.13 0 .26.05.35.15l2.21 2.21c.1.09.15.21.15.35zM7.5.5V3c0 .28.22.5.5.5h2.5"/>
    </symbol>

    <symbol id="icon-photo" viewBox="0 0 548 548">
      <title>photo</title>
        <path d="M534.75,68.238c-8.945-8.945-19.694-13.417-32.261-13.417H45.681c-12.562,0-23.313,4.471-32.264,13.417
          C4.471,77.185,0,87.936,0,100.499v347.173c0,12.566,4.471,23.318,13.417,32.264c8.951,8.946,19.702,13.419,32.264,13.419h456.815
          c12.56,0,23.312-4.473,32.258-13.419c8.945-8.945,13.422-19.697,13.422-32.264V100.499
          C548.176,87.936,543.699,77.185,534.75,68.238z M511.623,447.672c0,2.478-0.899,4.613-2.707,6.427
          c-1.81,1.8-3.952,2.703-6.427,2.703H45.681c-2.473,0-4.615-0.903-6.423-2.703c-1.807-1.813-2.712-3.949-2.712-6.427V100.495
          c0-2.474,0.902-4.611,2.712-6.423c1.809-1.803,3.951-2.708,6.423-2.708h456.815c2.471,0,4.613,0.905,6.42,2.708
          c1.801,1.812,2.707,3.949,2.707,6.423V447.672L511.623,447.672z"/>
        <path d="M127.91,237.541c15.229,0,28.171-5.327,38.831-15.987c10.657-10.66,15.987-23.601,15.987-38.826
          c0-15.23-5.333-28.171-15.987-38.832c-10.66-10.656-23.603-15.986-38.831-15.986c-15.227,0-28.168,5.33-38.828,15.986
          c-10.656,10.66-15.986,23.601-15.986,38.832c0,15.225,5.327,28.169,15.986,38.826C99.742,232.211,112.683,237.541,127.91,237.541z
          "/>
        <polygon points="210.134,319.765 164.452,274.088 73.092,365.447 73.092,420.267 475.085,420.267 475.085,292.36 356.315,173.587
              "/>
    </symbol>

    <symbol id="icon-video" viewBox="0 0 512 512">
      <title>video</title>
      <path class="fil0" d="M65 80l370 0c25,0 45,20 45,45l0 250c0,25 -20,45 -45,45l-370 0c-25,0 -45,-20 -45,-45l0 -250c0,-25 20,-45 45,-45zm268 162l-65 -37 -65 -38c-3,-1 -6,-1 -9,0 -3,2 -4,5 -4,8l0 150c0,3 1,6 4,8 3,1 6,1 9,0l65 -38 65 -37c3,-2 4,-5 4,-8 0,-3 -1,-6 -4,-8zm-273 -122l50 0 0 50 -50 0 0 -50zm0 70l50 0 0 50 -50 0 0 -50zm0 70l50 0 0 50 -50 0 0 -50zm0 70l50 0 0 50 -50 0 0 -50zm331 -210l50 0 0 50 -50 0 0 -50zm0 70l50 0 0 50 -50 0 0 -50zm0 70l50 0 0 50 -50 0 0 -50zm0 70l50 0 0 50 -50 0 0 -50z"/>
    </symbol>

    <symbol id="icon-location" viewBox="0 0 533 533">
      <title>location</title>
      <path d="M266.666,0C174.618,0,100,74.619,100,166.667c0,166.667,166.667,366.667,166.667,366.667s166.667-200,166.667-366.667
        C433.333,74.619,358.713,0,266.666,0z M266.666,266.667c-55.229,0-100-44.771-100-100c0-55.229,44.771-100,100-100
        c55.229,0,100,44.771,100,100C366.666,221.896,321.895,266.667,266.666,266.667z"/>
    </symbol>

    <symbol id="icon-add" viewBox="0 0 612 612">
      <title>add</title>
      <path d="M554.625,248.625h-191.25V57.375C363.375,25.685,337.69,0,306,0c-31.69,0-57.375,25.685-57.375,57.375v191.25H57.375
        C25.685,248.625,0,274.31,0,306c0,31.69,25.685,57.375,57.375,57.375h191.25v191.25C248.625,586.315,274.31,612,306,612
        c31.69,0,57.375-25.685,57.375-57.375v-191.25h191.25C586.315,363.375,612,337.69,612,306
        C612,274.31,586.315,248.625,554.625,248.625z"
      />
    </symbol>

    <symbol id="icon-delete" viewBox="0 0 512 512">
      <title>delete</title>
      <polygon points="479.996,95.997 416.004,32.003 256,192.007 95.997,32.003 32.004,95.997 192.008,256 32.004,416.004
        95.997,479.996 256,319.992 416.004,479.996 479.996,416.004 319.992,256 "
      />
    </symbol>
  </svg>
</section>
